In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('./Smartphone_2024.csv', index_col='Id')

In [3]:
df.sample(5)

,Model,Price,Rating,Specification,Processor,RAM,Battery,Display,Camera,Memory,OperatingSystem
Id,,,,,,,,,,,
832,Infinix Hot 20 (6GB RAM+ 128GB),"₹14,499",78.0,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi","Dimensity 810, Octa Core, 2.4 GHz Processor","6 GB RAM, 128 GB inbuilt",5000 mAh Battery with 18W Fast Charging,"6.6 inches, 1080 x 2408 px, 120 Hz Display wit...",50 MP Dual Rear & 8 MP Front Camera,"Memory Card Supported, upto 1 TB",Android v12
827,itel A60,"₹5,599",NaN,"Dual Sim, 3G, 4G, VoLTE, Wi-Fi","Unisoc SC9832E, Quad Core Processor","2 GB RAM, 32 GB inbuilt",5000 mAh Battery,"6.6 inches, 720 x 1612 px Display with Water D...",8 MP Dual Rear & 5 MP Front Camera,"Memory Card Supported, upto 128 GB",Android v12
131,Google Pixel 7A,"₹37,999",NaN,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC","Tensor G2, Octa Core, 2.85 GHz Processor","8 GB RAM, 128 GB inbuilt",4385 mAh Battery with 18W Fast Charging,"6.1 inches, 1080 x 2400 px, 90 Hz Display with...",64 MP + 13 MP Dual Rear & 13 MP Front Camera,Memory Card Not Supported,Android v13
708,Apple iPhone 14 Plus (512GB),"₹95,999",NaN,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC","Bionic A15, Hexa Core, 3.22 GHz Processor","6 GB RAM, 512 GB inbuilt",4325 mAh Battery with Fast Charging,"6.7 inches, 1284 x 2778 px Display with Small ...",12 MP + 12 MP Dual Rear & 12 MP Front Camera,Memory Card Not Supported,iOS v16
497,Vivo Y56 5G (4GB RAM + 128GB),"₹15,050",78.0,"Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi","Dimensity 700 5G, Octa Core, 2.2 GHz Processor","4 GB RAM, 128 GB inbuilt",5000 mAh Battery with 18W Fast Charging,"6.58 inches, 1080 x 2408 px Display with Water...",50 MP + 2 MP Dual Rear & 16 MP Front Camera,Memory Card (Hybrid),Android v13

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            1020 non-null   object
 1   Price            1020 non-null   object
 2   Rating           443 non-null    float64
 3   Specification    1020 non-null   object
 4   Processor        1020 non-null   object
 5   RAM              1020 non-null   object
 6   Battery          1020 non-null   object
 7   Display          1020 non-null   object
 8   Camera           1020 non-null   object
 9   Memory           1003 non-null   object
 10  OperatingSystem  976 non-null    object
dtypes: float64(1), object(10)
memory usage: 95.6+ KB

In [5]:
df.drop(columns=['Rating'], inplace=True)
df.sample()

,Model,Price,Specification,Processor,RAM,Battery,Display,Camera,Memory,OperatingSystem
Id,,,,,,,,,,
897,Infinix Hot 11S,"₹9,890","Dual Sim, 3G, 4G, VoLTE, Wi-Fi","Helio G88, Octa Core, 2 GHz Processor","4 GB RAM, 64 GB inbuilt",5000 mAh Battery,"6.78 inches, 1080 x 2480 px, 90 Hz Display wit...",50 MP + 2 MP Triple Rear & 8 MP Front Camera,"Memory Card Supported, upto 256 GB",Android v11

In [6]:
df.sample()

,Model,Price,Specification,Processor,RAM,Battery,Display,Camera,Memory,OperatingSystem
Id,,,,,,,,,,
793,Snexian Rock Pro Max,"₹1,399",Dual Sim,No Wifi,1.4 MHz Processor,"32 MB RAM, 32 MB inbuilt",1800 mAh Battery,"2.8 inches, 320 x 420 px Display",0.3 MP Rear Camera,"Memory Card Supported, upto 16 GB"

In [7]:
def reorder(X):
    columns = ['Processor', 'RAM', 'Battery', 'Display', 'Camera', 'Memory', 'OperatingSystem']
    X2 = X.copy()
    X2['Processor'] = np.nan
    for col in columns:
        if 'Processor' in str(X[col]) or 'GHz' in str(X[col]) or 'MHz' in str(X[col]):
            X2['Processor'] = X[col]
            break

    X2['RAM'] = np.nan
    for col in columns:
        if 'RAM' in str(X[col]):
            X2['RAM'] = X[col]
            break

    X2['Battery'] = np.nan
    for col in columns:
        if 'mAh' in str(X[col]):
            X2['Battery'] = X[col]
            break

    X2['Display'] = np.nan
    for col in columns:
        if 'Display' in str(X[col]) or 'inches' in str(X[col]):
            X2['Display'] = X[col]
            break
    
    X2['Camera'] = np.nan
    for col in columns:
        if 'Camera' in str(X[col]):
            X2['Camera'] = X[col]
            break

    X2['Memory'] = np.nan
    for col in columns:
        if 'Memory Card' in str(X[col]):
            X2['Memory'] = X[col]
            break
    
    X2['OperatingSystem'] = np.nan
    for col in columns:
        if 'Android' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'iOS' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'Mocor' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'Symbian' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'Blackberry' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'KaiOS' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
        if 'Nucleus' in str(X[col]):
            X2['OperatingSystem'] = X[col]
            break
         
    
    return X2

In [8]:
df.nunique().sum()

2794

In [9]:
df = df.apply(reorder, axis=1)

In [10]:
df.nunique().sum()

2673

In [11]:
df.sample(3)

,Model,Price,Specification,Processor,RAM,Battery,Display,Camera,Memory,OperatingSystem
Id,,,,,,,,,,
390,Infinix Smart 8 HD,"₹6,298","Dual Sim, 3G, 4G, VoLTE, Wi-Fi","Unisoc T606, Octa Core, 1.6 GHz Processor","3 GB RAM, 64 GB inbuilt",5000 mAh Battery with 10W Fast Charging,"6.6 inches, 720 x 1612 px, 90 Hz Display with ...",13 MP + 0.08 MP Dual Rear & 8 MP Front Camera,"Memory Card Supported, upto 2 TB",Android v13
558,Xiaomi Redmi 11 Prime (6GB RAM + 128GB),"₹8,999","Dual Sim, 3G, 4G, VoLTE, Wi-Fi, IR Blaster","Helio G99, Octa Core, 2.2 GHz Processor","6 GB RAM, 128 GB inbuilt",5000 mAh Battery with 18W Fast Charging,"6.58 inches, 1080 x 2400 px, 90 Hz Display wit...",50 MP + 2 MP + 2 MP Triple Rear & 8 MP Front C...,"Memory Card Supported, upto 512 GB",Android v12
48,Realme 11x 5G,"₹12,999","Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi","Dimensity 6100 Plus, Octa Core, 2.2 GHz Processor","6 GB RAM, 128 GB inbuilt",5000 mAh Battery with 33W Fast Charging,"6.72 inches, 1080 x 2400 px, 120 Hz Display wi...",64 MP + 2 MP Dual Rear & 8 MP Front Camera,"Memory Card Supported, upto 2 TB",Android v13

In [12]:
df.isna().sum()

Model                0
Price                0
Specification        0
Processor           53
RAM                 11
Battery              9
Display              0
Camera               1
Memory             181
OperatingSystem    117
dtype: int64

In [13]:
df['Vendor'] = df.Model.apply(lambda x: x.split(' ')[0])
df['Vendor'] = df['Vendor'].str.upper()
df['Vendor'].value_counts()

Vendor
SAMSUNG       145
REALME        120
XIAOMI        115
VIVO           92
OPPO           58
MOTOROLA       57
POCO           57
APPLE          40
TECNO          39
ONEPLUS        37
ITEL           34
INFINIX        31
NOKIA          31
LAVA           25
IQOO           22
SNEXIAN        16
MICROMAX       11
IKALL          10
GOOGLE          9
JIO             8
NOTHING         8
RINGME          7
MTR             5
GFIVE           5
BLACKZONE       4
FONEME          4
LVIX            4
OUKITEL         3
HONOR           3
KARBONN         2
DOOGEE          2
LYF             2
LENOVO          1
GAMMA           1
VOX             1
CAUL            1
KECHAODA        1
HUAWEI          1
BLACKBERRY      1
DIZO            1
JMAX            1
WINGS           1
BENCO           1
ASUS            1
CAT             1
TRYTO           1
Name: count, dtype: int64

## Create Features From Specification Column
### Create Sim Feature

In [14]:
df['Sim'] = df['Specification'].str.extract(r'(Single|Dual|Triple|Quad)\s*Sim')
df['Sim'] = df['Sim'].map({'Single': 1, 'Dual': 2, 'Triple': 3, 'Quad': 4})
df['Sim'].value_counts()

Sim
2    993
1     24
3      2
4      1
Name: count, dtype: int64

### Create 3G Feature

In [15]:
df['3G'] = df['Specification'].str.contains('3G').astype(int)
df['3G'].value_counts()

3G
1    927
0     93
Name: count, dtype: int64

### Create 4G Feature

In [16]:
df['4G'] = df['Specification'].str.contains('4G').astype(int)
df['4G'].value_counts()

4G
1    925
0     95
Name: count, dtype: int64

### Create 5G Feature

In [17]:
df['5G'] = df['Specification'].str.contains('5G').astype(int)
df['5G'].value_counts()

5G
0    539
1    481
Name: count, dtype: int64

### Create VoLTE Feature

In [18]:
df['VoLTE'] = df['Specification'].str.contains('VoLTE').astype(int)
df['VoLTE'].value_counts()

VoLTE
1    913
0    107
Name: count, dtype: int64

### Create NFC Feature

In [19]:
df['NFC'] = df['Specification'].str.contains('NFC').astype(int)
df['NFC'].value_counts()

NFC
0    748
1    272
Name: count, dtype: int64

### Create Wi-Fi Feature

In [20]:
df['Wi-Fi'] = df['Specification'].str.contains('Wi-Fi').astype(int)
df['Wi-Fi'].value_counts()

Wi-Fi
1    912
0    108
Name: count, dtype: int64

### Create IR Feature

In [21]:
df['IR'] = df['Specification'].str.contains('IR Blaster').astype(int)
df['IR'].value_counts()

IR
0    868
1    152
Name: count, dtype: int64

### Vo5G Feature

In [22]:
df['Vo5G'] = df['Specification'].str.contains('Vo5G').astype(int)
df['Vo5G'].value_counts()

Vo5G
0    989
1     31
Name: count, dtype: int64

## Handling Price Column

In [23]:
df.Price.sample(5)

Id
277    ₹24,990
788    ₹22,300
151    ₹49,999
929    ₹16,490
749    ₹14,499
Name: Price, dtype: object

In [24]:
df.Price = df.Price.apply(lambda price:float(price.replace('₹', '').replace(',', '')))

In [25]:
df.Price.sample(5)

Id
602      1700.0
43      19711.0
606      8295.0
70       6499.0
1013      889.0
Name: Price, dtype: float64

### Drop Columns

In [26]:
df.drop(columns=['Specification', 'Model'], inplace=True)

In [27]:
df.sample()

,Price,Processor,RAM,Battery,Display,Camera,Memory,OperatingSystem,Vendor,Sim,3G,4G,5G,VoLTE,NFC,Wi-Fi,IR,Vo5G
Id,,,,,,,,,,,,,,,,,,
256,20898.0,"Dimensity 6020, Octa Core, 2.2 GHz Processor","8 GB RAM, 256 GB inbuilt",5000 mAh Battery with 33W Fast Charging,"6.43 inches, 1080 x 2400 px, 90 Hz Display wit...",64 MP + 2 MP Dual Rear & 16 MP Front Camera,"Memory Card Supported, upto 1 TB",Android v13,REALME,2,1,1,1,1,0,1,0,0

In [28]:
df['Screen_Size'] = df['Display'].str.extract(r'(\d+(?:\.\d+)?)\s*inches')
df['Screen_Size'].isna().sum()

0

In [29]:
# Extract width and height from the "Display" column
pxs = df['Display'].str.extract(r'(\d+)\s*[xX]\s*(\d+)')
pxs.fillna(value=0, inplace=True)
df['px_w'] = pxs[0].astype(int)
df['px_h'] = pxs[1].astype(int)

# Compute total number of pixels
df['Resolution'] = df['px_w'] * df['px_h']
len(df[df['Resolution'] == 0])

3

In [30]:
df.Processor.sample()

Id
100    Dimensity 8300 Ultra, Octa Core, 3.35 GHz Proc...
Name: Processor, dtype: object

In [31]:
import re
# Define a function to extract processor speed and convert to MHz
def extract_processor_speed(processor):
    # Extract numeric value and unit using regex
    match = re.search(r'(\d+(\.\d+)?)\s*([mMgGtT]?[hH][zZ])', str(processor))
    if match:
        value = float(match.group(1))  # Extract numeric value
        unit = match.group(3).lower()   # Extract unit (MHz, GHz, etc.)
        if unit == 'ghz':               # Convert GHz to MHz
            value *= 1000
        elif unit == 'thz':             # Convert THz to MHz
            value *= 1000000
        elif unit == 'ghz':             # Convert MHz to MHz
            value *= 1.0
        return int(value)               # Return processor speed in MHz
    else:
        return None

In [32]:
# Apply the function to the Processor column
df['Processor_Speed_MHz'] = df['Processor'].apply(extract_processor_speed)

In [33]:
df[['Processor_Speed_MHz', 'Processor']].sample(5)

     Processor_Speed_MHz                                      Processor
Id
95                2200.0  Snapdragon 480+, Octa Core, 2.2 GHz Processor
496               2000.0          Helio G88, Octa Core, 2 GHz Processor
336               2200.0        Helio G36, Octa Core, 2.2 GHz Processor
373               2000.0         Helio  G85, Octa Core, 2 GHz Processor
255               2400.0      Exynos 1280, Octa Core, 2.4 GHz Processor

In [34]:
# Define a function to extract RAM size and inbuilt memory size and convert to MB
def extract_memory_size(memory):
    # Extract RAM size and inbuilt memory size separately
    ram_match = re.search(r'(\d+(\.\d+)?)\s*([mMgGtT]?[bB])\s*RAM', str(memory))
    inbuilt_match = re.search(r'(\d+(\.\d+)?)\s*([mMgGtT]?[bB])\s*inbuilt', str(memory))

    ram_size = None
    inbuilt_size = None

    # Process RAM size
    if ram_match:
        value = float(ram_match.group(1))  # Extract numeric value
        unit = ram_match.group(3).lower()   # Extract unit (MB, GB, etc.)
        if unit == 'gb':                    # Convert GB to MB
            value *= 1024
        elif unit == 'tb':                  # Convert TB to MB
            value *= 1024 * 1024
        elif unit == 'mb':                  # Convert MB to MB
            value *= 1
        ram_size = int(value)               # Store RAM size in MB

    # Process inbuilt memory size
    if inbuilt_match:
        value = float(inbuilt_match.group(1))  # Extract numeric value
        unit = inbuilt_match.group(3).lower()   # Extract unit (MB, GB, etc.)
        if unit == 'gb':                        # Convert GB to MB
            value *= 1024
        elif unit == 'tb':                      # Convert TB to MB
            value *= 1024 * 1024
        elif unit == 'mb':                      # Convert MB to MB
            value *= 1
        inbuilt_size = int(value)               # Store inbuilt memory size in MB

    return ram_size, inbuilt_size

In [35]:
# Apply the function to the RAM column
df['RAM_MB'], df['Memory_MB'] = zip(*df['RAM'].apply(extract_memory_size))

In [36]:
df[['RAM_MB', 'Memory_MB', 'RAM']].sample(5)

     RAM_MB  Memory_MB                       RAM
Id
727  8192.0   131072.0  8 GB RAM, 128 GB inbuilt
422  4096.0    65536.0   4 GB RAM, 64 GB inbuilt
409  6144.0  1048576.0    6 GB RAM, 1 TB inbuilt
361  8192.0   131072.0  8 GB RAM, 128 GB inbuilt
426  4096.0    65536.0   4 GB RAM, 64 GB inbuilt

In [37]:
df['BatterymAh'] = df['Battery'].str.extract(r'(\d+(\.\d+)?)\s*(mAh Battery)')[0].astype(float)
df['BatterymAh'].isna().sum()

9

In [38]:
df['FastCharging'] = df['Battery'].str.extract(r'(\d+(\.\d+)?)\s*(W Fast Charging)')[0].astype(float)
df['FastCharging'].isna().sum()

279

In [39]:
df['PC'] = df['Camera'].str.extract(r'(\d+(\.\d+)?)\s*(MP)')[0].astype(float)
df['PC'].isna().sum()

23

In [40]:
df['FC'] = df['Camera'].str.extract(r'(\d+(\.\d+)?)\s*(MP Front Camera)')[0].astype(float)
df['FC'].isna().sum()

129

In [41]:
# Extract OS and version number
df['OS'] = df['OperatingSystem'].str.extract(r'((Android|iOS|Mocor|Symbian|Blackberry|KaiOS|Nucleus)\s*v([\d.]+)|(.+))')[1]
df['Version'] = df['OperatingSystem'].str.extract(r'((Android|iOS|Mocor|Symbian|Blackberry|KaiOS|Nucleus)\s*v([\d.]+)|(.+))')[2]

# Map OS values to Android, iOS, and Other
os_mapping = {'Android': 'Android', 'iOS': 'iOS', 'Mocor' : 'Mocor', 'Symbian' : 'Symbian', 'Blackberry' : 'Blackberry', 'KaiOS' : 'KaiOS', 'Nucleus' : 'Nucleus'}
# df['OS'] = df['OS'].map(os_mapping).fillna('Other')

In [42]:
df['OS'].value_counts()

OS
Android    852
iOS         40
Symbian      5
KaiOS        1
Name: count, dtype: int64

In [43]:
df.Price.sample(5)

Id
46     129999.0
749     14499.0
715    110000.0
359     84999.0
978      4990.0
Name: Price, dtype: float64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1020 entries, 0 to 1019
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                1020 non-null   float64
 1   Processor            967 non-null    object
 2   RAM                  1009 non-null   object
 3   Battery              1011 non-null   object
 4   Display              1020 non-null   object
 5   Camera               1019 non-null   object
 6   Memory               839 non-null    object
 7   OperatingSystem      903 non-null    object
 8   Vendor               1020 non-null   object
 9   Sim                  1020 non-null   int64
 10  3G                   1020 non-null   int32
 11  4G                   1020 non-null   int32
 12  5G                   1020 non-null   int32
 13  VoLTE                1020 non-null   int32
 14  NFC                  1020 non-null   int32
 15  Wi-Fi                1020 non-null   int32
 16  IR                   1020 non-null   int32
 17  Vo5G                 1020 non-null   int32
 18  Screen_Size          1020 non-null   object
 19  px_w                 1020 non-null   int32
 20  px_h                 1020 non-null   int32
 21  Resolution           1020 non-null   int32
 22  Processor_Speed_MHz  951 non-null    float64
 23  RAM_MB               1009 non-null   float64
 24  Memory_MB            1007 non-null   float64
 25  BatterymAh           1011 non-null   float64
 26  FastCharging         741 non-null    float64
 27  PC                   997 non-null    float64
 28  FC                   891 non-null    float64
 29  OS                   898 non-null    object
 30  Version              898 non-null    object
dtypes: float64(8), int32(11), int64(1), object(11)
memory usage: 211.2+ KB

In [45]:
df.columns

Index(['Price', 'Processor', 'RAM', 'Battery', 'Display', 'Camera', 'Memory',
       'OperatingSystem', 'Vendor', 'Sim', '3G', '4G', '5G', 'VoLTE', 'NFC',
       'Wi-Fi', 'IR', 'Vo5G', 'Screen_Size', 'px_w', 'px_h', 'Resolution',
       'Processor_Speed_MHz', 'RAM_MB', 'Memory_MB', 'BatterymAh',
       'FastCharging', 'PC', 'FC', 'OS', 'Version'],
      dtype='object')

In [46]:
df.drop(columns=['Processor', 'RAM', 'Battery', 'Display', 'Camera', 'Memory', 'OperatingSystem'], inplace=True)

In [47]:
df.columns

Index(['Price', 'Vendor', 'Sim', '3G', '4G', '5G', 'VoLTE', 'NFC', 'Wi-Fi',
       'IR', 'Vo5G', 'Screen_Size', 'px_w', 'px_h', 'Resolution',
       'Processor_Speed_MHz', 'RAM_MB', 'Memory_MB', 'BatterymAh',
       'FastCharging', 'PC', 'FC', 'OS', 'Version'],
      dtype='object')

In [48]:
df.isna().sum()[df.isna().sum() > 0]

Processor_Speed_MHz     69
RAM_MB                  11
Memory_MB               13
BatterymAh               9
FastCharging           279
PC                      23
FC                     129
OS                     122
Version                122
dtype: int64

In [49]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.base import BaseEstimator, TransformerMixin
import category_encoders as ce

In [50]:
# # Define the pipeline
# pipeline = Pipeline([
#     ('transformer', ColumnTransformer(transformers=[
#         ('mean_imputer', SimpleImputer(strategy='mean'), ['RAM_MB', 'Memory_MB', 'Processor_Speed_MHz']),
#         ('most_frequent_imputer', SimpleImputer(strategy='most_frequent'), ['BatterymAh']),
#         ('constant_imputer1', SimpleImputer(strategy='constant', fill_value=10), ['FastCharging']),
#         ('constant_imputer2', SimpleImputer(strategy='constant', fill_value=0), ['PC', 'FC']),
#         ('constant_imputer3', SimpleImputer(strategy='constant', fill_value='Other'), ['OS']),
#         ('median_imputer', SimpleImputer(strategy='most_frequent'), ['Version']),
#         # ('target_encoder', ce.TargetEncoder(), ['Vendor']),
#         ('one_hot_encoder', OneHotEncoder(), ['OS']),
#         ('standard_scaler', StandardScaler(), ['RAM_MB', 'Memory_MB'])
#     ], remainder='passthrough')),
# ])

In [51]:
df.columns

Index(['Price', 'Vendor', 'Sim', '3G', '4G', '5G', 'VoLTE', 'NFC', 'Wi-Fi',
       'IR', 'Vo5G', 'Screen_Size', 'px_w', 'px_h', 'Resolution',
       'Processor_Speed_MHz', 'RAM_MB', 'Memory_MB', 'BatterymAh',
       'FastCharging', 'PC', 'FC', 'OS', 'Version'],
      dtype='object')

In [52]:
print('Missing Values in Variables:')
df.isna().sum()[df.isna().sum() > 0]

Missing Values in Variables:

Processor_Speed_MHz     69
RAM_MB                  11
Memory_MB               13
BatterymAh               9
FastCharging           279
PC                      23
FC                     129
OS                     122
Version                122
dtype: int64

In [53]:
df['Processor_Speed_MHz'] = SimpleImputer(strategy='median').fit_transform(df[['Processor_Speed_MHz']])
df['Processor_Speed_MHz'].isna().sum()

0

In [54]:
df['RAM_MB'] = SimpleImputer(strategy='median').fit_transform(df[['RAM_MB']])
df['RAM_MB'].isna().sum()

0

In [55]:
df['Memory_MB'] = SimpleImputer(strategy='median').fit_transform(df[['Memory_MB']])
df['Memory_MB'].isna().sum()

0

In [56]:
df['BatterymAh'] = SimpleImputer(strategy='median').fit_transform(df[['BatterymAh']])
df['BatterymAh'].isna().sum()

0

In [57]:
df['FastCharging'] = SimpleImputer(strategy='constant', fill_value=10).fit_transform(df[['FastCharging']])
df['FastCharging'].isna().sum()

0

In [58]:
df['FC'] = SimpleImputer(strategy='constant', fill_value=0).fit_transform(df[['FC']])
df['FC'].isna().sum()

0

In [59]:
df['PC'] = df.groupby('Memory_MB')['PC'].transform(lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x)
df['PC'].isna().sum()

0

In [60]:
df.Version

Id
0        14
1        14
2        14
3        14
4        14
       ...
1015    NaN
1016    NaN
1017    9.3
1018    NaN
1019    NaN
Name: Version, Length: 1020, dtype: object

In [61]:
df['OS'] = df.OS.fillna(value='Other')
df['OS'].isna().sum()

0

In [62]:
df['Version'] = df.groupby('OS')['Version'].transform(lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x)
df['Version'].isna().sum()

122

In [63]:
df['Version'] = df.Version.fillna(value=1)
df['Version'].isna().sum()

0

In [64]:
df.isna().sum()

Price                  0
Vendor                 0
Sim                    0
3G                     0
4G                     0
5G                     0
VoLTE                  0
NFC                    0
Wi-Fi                  0
IR                     0
Vo5G                   0
Screen_Size            0
px_w                   0
px_h                   0
Resolution             0
Processor_Speed_MHz    0
RAM_MB                 0
Memory_MB              0
BatterymAh             0
FastCharging           0
PC                     0
FC                     0
OS                     0
Version                0
dtype: int64

In [65]:
df.columns

Index(['Price', 'Vendor', 'Sim', '3G', '4G', '5G', 'VoLTE', 'NFC', 'Wi-Fi',
       'IR', 'Vo5G', 'Screen_Size', 'px_w', 'px_h', 'Resolution',
       'Processor_Speed_MHz', 'RAM_MB', 'Memory_MB', 'BatterymAh',
       'FastCharging', 'PC', 'FC', 'OS', 'Version'],
      dtype='object')

In [66]:
df.select_dtypes(include=['category', 'object']).sample(5)

      Vendor Screen_Size       OS Version
Id
173  ONEPLUS        6.74  Android      13
618  ONEPLUS         6.7  Android      13
227  SAMSUNG         6.5  Android      14
282  INFINIX         6.6  Android      13
626     OPPO        6.43  Android      12

In [67]:
df.Screen_Size = df.Screen_Size.astype('float')

In [77]:
df.select_dtypes(include=['category', 'object']).sample(5)

       Vendor       OS Version
Id
395      ITEL  Android      13
471  MOTOROLA  Android      12
771      POCO  Android      10
587    XIAOMI  Android      11
538     APPLE      iOS      13

In [78]:
df['Vendor'] = df['Vendor'].map(df['Vendor'].value_counts())

In [79]:
df = pd.get_dummies(df, columns=['OS'], prefix='OS')

In [81]:
df.columns

Index(['Price', 'Vendor', 'Sim', '3G', '4G', '5G', 'VoLTE', 'NFC', 'Wi-Fi',
       'IR', 'Vo5G', 'Screen_Size', 'px_w', 'px_h', 'Resolution',
       'Processor_Speed_MHz', 'RAM_MB', 'Memory_MB', 'BatterymAh',
       'FastCharging', 'PC', 'FC', 'Version', 'OS_Android', 'OS_KaiOS',
       'OS_Other', 'OS_Symbian', 'OS_iOS'],
      dtype='object')

In [82]:
df['Version'] = df['Version'].str.extract(r'^(\d+)')
df['Version'] = df['Version'].astype(float).astype(pd.Int32Dtype())

In [85]:
df.Version = df.Version.fillna(value=1)

In [86]:
df.select_dtypes(include=['category', 'object']).sample(5)

Empty DataFrame
Columns: []
Index: [132, 332, 771, 272, 720]

In [87]:
df.isna().sum()

Price                  0
Vendor                 0
Sim                    0
3G                     0
4G                     0
5G                     0
VoLTE                  0
NFC                    0
Wi-Fi                  0
IR                     0
Vo5G                   0
Screen_Size            0
px_w                   0
px_h                   0
Resolution             0
Processor_Speed_MHz    0
RAM_MB                 0
Memory_MB              0
BatterymAh             0
FastCharging           0
PC                     0
FC                     0
Version                0
OS_Android             0
OS_KaiOS               0
OS_Other               0
OS_Symbian             0
OS_iOS                 0
dtype: int64